#background {
    background-color:dimgray;
    color: white;
    padding: 40px;
    text-align: center;
    border-style: solid;
    border-color: mistyrose;
  }

  #makeHorizontal {
      display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

#makeWhitetext {
    color:mistyrose;
    font-size: 200%;
    font-weight: bolder;
}

.makesmaller {
    font-size: 60%;
  }

.border {
    border-style: double;
    border-color: ivory;
    border-width: medium;
}

.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.colorred {
    color: red;
  }

.center {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.makewide {
    width: 100%;
}

.makeright {
    display: flex;
    justify-content: flex-end;
}

.centeralignvertical {
    display:flex;
    align-items: center;
}

.imgresize {
    max-width: 45%;
    height: auto;
    display: inline-block;
    margin: 1%;
    vertical-align: top;
  }

.makesmall{
    max-width: 5%;
    height: auto;
    margin: 1%;
    vertical-align: top;
}

.everythingOnOneLine {
    white-space: nowrap;
    display: inline;
   }
 
   
.link { color: crimson; } 
.link:hover { color: red; } 

.nodot {
    list-style-type: none;
    padding-left: 0;
}